<div class="content">
  <div class="result">
     <!-- {{calculate}} -->
     <span class="n">{{n2}}</span>
     <span class="n">{{n3}}</span>
  </div>
  <div class="reset" (click)="calculator('reset')">C</div>

  <div class="operation">
    <div class="circle">
     <div class="numbers">
        <span class="char" (click)="calculator(0)">0</span>
        <span class="char" (click)="calculator(1)">1</span>
        <span class="char" (click)="calculator(2)">2</span>
        <span class="char" (click)="calculator(3)">3</span>
        <span class="char" (click)="calculator(4)">4</span>
     </div>
    </div>
    <div class="circle">
      <div class="numbers">
        <span class="char" (click)="calculator(5)">5</span>
        <span class="char" (click)="calculator(6)">6</span>
        <span class="char" (click)="calculator(7)">7</span>
        <span class="char" (click)="calculator(8)">8</span>
        <span class="char" (click)="calculator(9)">9</span>
     </div>
    </div>
    <div class="circle">
      <div class="operators">
        <span class="char" (click)="calculator('+')">+</span>
        <span class="char" (click)="calculator('-')">-</span>
        <span class="char" (click)="calculator('*')">x</span>
        <span class="char" (click)="calculator('/')">/</span>
     </div>
    </div>
    <div class="circle">
      <div class="equal">
        <span class="char" (click)="calculator('=')">=</span>
     </div>
    </div>
  </div>
</div>
